body {
    font-family: helvetica;
    background: url('paper.gif') repeat scroll 0 0 transparent;
}
.step {
    font-size: 3em;
}
.description {
    text-align: left;
}
table {
    border-spacing: 10px;
    width: 100%;
}
table td {
    text-align: center;
}